@font-face {
    font-family: "RedHatText"; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium.ttf"); 
    font-weight: 500; 
}

@font-face {
    font-family: "RedHatText"; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Regular.ttf");
    font-weight: 400; 
}

@font-face {
    font-family: "Magra";
    src: url("assets/fonts/Magra/Magra-Bold.ttf"); 
    font-weight: 600; 
}

@font-face {
    font-family: "Aleo-Bold";
    src: url("assets/fonts/Aleo/Aleo-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Aleo-BoldItalic";
    src: url("assets/fonts/Aleo/Aleo-BoldItalic.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Aleo-Italic";
    src: url("assets/fonts/Aleo/Aleo-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Aleo";
    src: url("assets/fonts/Aleo/Aleo-Regular.ttf");
    font-weight: 400;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    margin: 0 auto; 
    /* margin: 0;
    padding: 0; */
    /* width: 1440px; */
    max-width: 1440px;
    font-family: "Magra";
    font-family: "Aleo";
    font-family: "Aleo-Bold"; 
    font-family: "Aleo-BoldItalic"; 
    font-family: "Aleo-Italic";
}


.header-container {
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(242, 120, 92, 0.7); 
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 0 8px 120px;
}

.logo-mobile {
    display: none;
}

.logo-text {
    padding: 0 0 1px 6px;
    font-family: "Magra"; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 32px; 
    line-height: 39px;
    color: #ffffff;
}

.nav-list {
    display: flex; 
    align-items: center; 
    padding: 1px 0 0 166px; 
    gap: 43px;
    list-style: none; 
}

.nav-link {
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.button-path {
    padding: 0 0 0 195px; 
}

.login-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 41px; 
    width: 103px; 
    border: none;
    background-color: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16); 
    border-radius: 10px;
}

.login-link {
    width: 43px;
    height: 21px;
    font-family: 'RedHatText'; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.burger-pic {
    display: none;
}

.wrapper-header-preview {
    height: 765px;
    background-image: url("./assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg");
    background-repeat: no-repeat; 
    /* background-size: 100%; */
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

.preview-section-title {
    padding: 31px 0 0 120px;
    font-family: "Aleo-Bold"; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 80px; 
    line-height: 96px; 
    color: #ffffff;
}

.section-text {
    padding: 32px 0 0 120px; 
    font-family: "Aleo-BoldItalic"; 
    font-style: italic; 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 24px; 
    color: #ffffff;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin: 47px 0 0 120px; 
    width: 892px; 
    height: 95px; 
    background-color: rgba(255, 255, 255, 0.7); 
    border: none;
    border-radius: 16px;
}

.form-text {
    padding: 0 0 0 41px; 
    font-family: "Aleo-Italic"; 
    font-style: italic; 
    font-weight: 400; 
    font-size: 24px; 
    line-height: 29px; 
    color: #f2785c;
}

.start-planning-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 0 0 326px;
    width: 228px; 
    height: 59px; 
    border: none;
    background-color: #0d606f; 
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16); 
    border-radius: 10px; 
}

.start-planning-link {
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-decoration: none; 
}


.main-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.three-steps-title {
    padding: 80px 0 0 414px;
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500;  
    font-size: 40px; 
    line-height: 53px; 
    text-transform: uppercase;
    color: #f2785c;
}

.three-steps-img {
    display: flex; 
    justify-content: flex-start;
    padding: 40px 0 0 0; 
}

.three-steps-img_mobile {
    display: none;
}

.pic-1 {
    padding: 0 0 0 204px; 
}

.pic-2 {
    padding: 0 0 0 366px; 
}

.pic-3 {
    padding: 0 0 0 330px; 
}

.three-steps-text {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 30px 0 0 0;
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 24px; 
    color: #0d606f;
}

.three-steps-text_mobile {
    display: none;
}

.text-1 {
    padding: 0 0 0 131px;
}

.text-2 {
    padding: 0 0 0 231px;
}

.text-3 {
    padding: 0 0 0 161px;
}

.destinations-title{
    padding: 97px 0 0 471px;
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500;  
    font-size: 40px; 
    line-height: 53px; 
    text-transform: uppercase;
    color: #f2785c;
}

.destinations-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 46px 0 0 0;
    gap: 60px; 
    overflow: hidden;
}

.slider-pic1 {
    margin: 0 0 0 -540px;
    border-radius: 16px; 
    /* max-width: 100%; */
}

.slider-pic2 {
    border-radius: 16px; 
    /* max-width: 100%; */
}

.slider-pic3 {
    margin: 0 -540px 0 0;
    border-radius: 16px; 
    /* max-width: 100%; */
}

.slider-ellips {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 24px 0 0 2px;
    gap: 10px; 
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 2px;
}

.find-button {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 228px; 
    height: 59px; 
    background-color: #0d606f; 
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px; 
}

.arrow-ico {
    padding: 0 0 0 33px; 
}


.find-link {
    padding: 0 0 0 12px; 
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-decoration: none; 
}
.stories {
    width: 100%;
    /* border: 1px solid black; */
}
.stories-wrapper {
    width: 100%;
    display: flex;
    /* margin: 37px 0 0 0; */
    /* opacity: 0.3; */
    /* border: 1px solid black; */
}

.stories-title {
    padding: 80px 0 40px 553px;
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500;  
    font-size: 40px; 
    line-height: 53px; 
    text-transform: uppercase;
    color: #f2785c;
}

.stories-img-container {
    display: flex; 
    flex-direction: column; 
    padding: 40px 0 0 120px; 
    gap: 30px; 
    /* z-index: 2; */
}

.story-img1 {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story-img2 {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story-img3 {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story-img4 {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories-container {
    padding: 43px 0 0 42px; 
    /* padding: 0 0 0 42px;  */
}

.story-title1 {
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 35px; 
    line-height: 42px; 
    color: #0d606f; 
}

.story-title2 {
    padding: 48px 0 0 0;
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 35px; 
    line-height: 42px; 
    color: #0d606f; 
}

.story-title3 {
    padding: 48px 0 0 0;
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 35px; 
    line-height: 42px; 
    color: #0d606f; 
}

.story-title4 {
    padding: 48px 0 0 0;
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 35px; 
    line-height: 42px; 
    color: #0d606f; 
}

.story-text1 {
    padding: 22px 0 0 0; 
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400;
    font-size: 20px; 
    line-height: 24px; 
    color: #0d606f; 
}

.story-text2 {
    padding: 22px 0 0 0; 
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400;
    font-size: 20px; 
    line-height: 24px; 
    color: #0d606f; 
}

.story-text3 {
    padding: 22px 0 0 0; 
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400;
    font-size: 20px; 
    line-height: 24px; 
    color: #0d606f; 
}

.story-text4 {
    padding: 22px 0 0 0; 
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: 400;
    font-size: 20px; 
    line-height: 24px; 
    color: #0d606f; 
}

.story-link {
    font-family: "Aleo"; 
    font-style: normal; 
    font-weight: bold;
    font-size: 20px; 
    line-height: 24px; 
    color: #0d606f; 
}

.wrapper-section-footer {
    margin-bottom: auto; 
    width: 100%;
    background-image: url("assets/img/Rectangle33.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
}


.footer-container {
    width: 100%;
    height: 33.65px;
    margin: 63px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid firebrick; */
}

.footer-text {
    padding: 0 0 0 588px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
}

/* .github-link {
    padding: 0 10px; 
    text-decoration: none; 
    color: black;
}
.school-logo {
    padding: 0 0 0 20px;
    width: 70px; 
    height: 35px; 
} */


@media (max-width: 390px) {
    .logo-text,
    .nav-list,
    .button-path,
    .preview-section-title,
    .section-text,
    .destinations,
    .destinations-img,
    .slider-ellips,
    .stories
    {
        display: none;
    }

    .body {
        width: 100%;
    }

    .wrapper-header-preview {
        height: 251px;
        background-image: url("./assets/img/garrett-parker-DlkF4-dbCOU-unsplash_mobile.jpg");
        background-repeat: no-repeat; 
        background-size: 100%;
    }

    .burger-pic {
        display: flex;
    }

    .header {
        height: 50%;
    }

    .preview {
        display: flex;
        align-items: center;
        height: 50%;
    }

    .header-container {
        justify-content: space-between;
        margin: 3.7% 0 0 0;
        padding: 0 5.1% 0 4%;
        background-color: rgba(242, 120, 92, 0); 
    }

    .logo {
        padding: 0%;
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin: 0.6% 0.2% 0 0; 
        width: 92.3%;
        height: 38%; 
    }

    .form-text {
        padding: 1.1% 0 0 4.7%; 
        font-size: 88%;  
    }
    
    .start-planning-button {
        margin: 0 2.3% 0 0;
        width: 25.7%; 
        height: 62%; 
    }

    .start-planning-link {
        font-size: 82%;
        padding: 0 0.5% 0 0;
    }

    .main {
        margin-bottom: auto;
    }

    .main-container {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .steps {
        width: 100%;
    }

    .three-steps-title {
        padding: 0 0 0 0;
        margin: 0.8% 8.6% 0 8.6%; 
        padding: 0 0 0 14%;
        font-size: 87.5%; 
        /* line-height: 53px;  */
    }
    
    .three-steps-img {
        display: none; 
    }

    .three-steps-img_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1% 0 0 0;
        width: 100%;
        /* gap: 30%; */
    }

    .pic-4 {
        padding: 0 0 0 3.9%;
    }

    .pic-6 {
        padding: 0 3.9% 0 0; 
    }
    
    .three-steps-text {
        display: none;
    }

    .three-steps-text_mobile {
        display: flex;
        justify-content: space-between;
        margin: 4.9% 0 0 0;
        width: 100%;
        /* justify-content: flex-start;  */
        /* align-items: center;  */
        /* width: 100%; */
        font-family: "Aleo"; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 61%;
        color: #0d606f;
    }

    .text-4 {
        padding: 0 0 0 3.9%;
    }

    .text-5 {

    }

    .text-6 {
        padding: 0 3.0% 0 0;
    }
}
