@font-face {
    font-family: "RedHatText"; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium.ttf"); 
    font-weight: 500; 
}

@font-face {
    font-family: "RedHatText"; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Regular.ttf");
    font-weight: 400; 
}

@font-face {
    font-family: "Magra";
    src: url("assets/fonts/Magra/Magra-Bold.ttf"); 
    font-weight: 600; 
}

@font-face {
    font-family: "Aleo-Bold";
    src: url("assets/fonts/Aleo/Aleo-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Aleo-BoldItalic";
    src: url("assets/fonts/Aleo/Aleo-BoldItalic.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Aleo-Italic";
    src: url("assets/fonts/Aleo/Aleo-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Aleo";
    src: url("assets/fonts/Aleo/Aleo-Regular.ttf");
    font-weight: 400;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    margin: 0 auto; 
    /* margin: 0;
    padding: 0; */
    width: 1440px;
    /* background: url("./assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg") no-repeat; */
    /* background-image: url("./assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg");
    background-repeat: no-repeat;  */
    font-family: "RedHatText"; 
    font-family: "Magra";
    font-family: "Aleo";
    font-family: "Aleo-Bold"; 
    font-family: "Aleo-BoldItalic"; 
    font-family: "Aleo-Italic";
}


.header-container {
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(242, 120, 92, 0.7); 
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 0 8px 120px;
}

.logo-text {
    padding: 0 0 1px 6px;
    font-family: "Magra"; 
    font-style: normal; 
    font-weight: 600; 
    font-size: 32px; 
    line-height: 39px;
    color: #ffffff;
}

.nav-list {
    display: flex; 
    align-items: center; 
    padding: 1px 0 0 166px; 
    gap: 43px;
    list-style: none; 
}

.nav-link {
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.button-path {
    padding: 0 0 0 195px; 
}

.login-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 41px; 
    width: 103px; 
    border: none;
    background-color: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16); 
    border-radius: 10px;
}

.login-link {
    width: 43px;
    height: 21px;
    font-family: 'RedHatText'; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
}

.wrapper-header-preview {
    height: 765px;
    background-image: url("./assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.jpg");
    background-repeat: no-repeat; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

.preview-section-title {
    padding: 31px 0 0 120px;
    font-family: "Aleo-Bold"; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 80px; 
    line-height: 96px; 
    color: #ffffff;
}

.section-text {
    padding: 32px 0 0 120px; 
    font-family: "Aleo-BoldItalic"; 
    font-style: italic; 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 24px; 
    color: #ffffff;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin: 47px 0 0 120px; 
    width: 892px; 
    height: 95px; 
    background-color: rgba(255, 255, 255, 0.7); 
    border: none;
    border-radius: 16px;
}

.form-text {
    padding: 0 0 0 41px; 
    font-family: "Aleo-Italic"; 
    font-style: italic; 
    font-weight: 400; 
    font-size: 24px; 
    line-height: 29px; 
    color: #f2785c;
}

.start-planning-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 0 0 326px;
    width: 228px; 
    height: 59px; 
    border: none;
    background-color: #0d606f; 
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16); 
    border-radius: 10px; 
}

.start-planning-link {
    font-family: "RedHatText"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-decoration: none; 
}

.main {
    margin-bottom: auto; 
    text-align: center; 
}

.footer {
    text-align: center;
    border: 1px solid brown;
}


