@font-face {
    font-family: 'RedHatText'; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium.ttf"); 
    font-weight: 500; 
}

@font-face {
    font-family: 'RedHatText'; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Regular.ttf");
    font-weight: 400; 
}

@font-face {
    font-family: 'Magra';
    src: url("assets/fonts/Magra/Magra-Bold.ttf"); 
    font-weight: 600; 
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/fonts/Aleo/Aleo-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/fonts/Aleo/Aleo-BoldItalic.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/fonts/Aleo/Aleo-Italic.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/fonts/Aleo/Aleo-Regular.ttf');
    font-weight: 400;
}




* {
    box-sizing: border-box; 
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 1440px;
    font-family: 'RedHatText'; 
    font-family: 'Magra';
    font-family: 'Aleo';
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid black;
}

.footer {
    border: 1px solid brown;
}


