@font-face {
    font-family: 'RedHatText'; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Medium"); 
}

@font-face {
    font-family: 'RedHatText'; 
    src: url("assets/fonts/Red_Hat_Text/static/RedHatText-Regular"); 
}


* {
    box-sizing: border-box; 
}

body {
    font-family: 'RedHatText'; 
}

.header {
    /* font-size: 16px; */
    /* font-weight: 500; */
}
